<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "cHris eLwO0d" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1>C.E.</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li>stuff</li>
      <li class="divider"></li>
      <li><%= link_to "wHat?!", about_path %></li>
      <li class="divider"></li>
      <li>fLurb</li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-8 columns"><%= yield %></div>
  <div class="small-4 columns">
    <h2 class="subheader">ab0ut mE</h2>
    I have been Chris Elwood for as long as I can remember. I hope you are having a great day.
  </div>
</div>
    <%= javascript_include_tag "application" %>
  </body>
</html>